*{
  border: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  font-family: 'Lato', sans-serif;
  background-image: url("https://images8.alphacoders.com/370/thumb-1920-370799.jpg");
  background-repeat: no-repeat;
  background-size: 100vw 100%;
}

header{
  width: 80%;
  height: 300px;
  margin: auto;
}
.header_1{
  height: 250px;
  background-image: url("https://wallpaperbro.com/img/74533.jpg");
  background-size: cover;
    background-position: center;
  position: relative;
}

.header_1 span{
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  position: absolute;
  font-size: 65px;
  text-transform: uppercase;
  font-weight: bolder;
}

.header_2{
  height: 50px;
  background-color: lightgrey;
  position: relative;
}

.header_2 span{
  text-transform: uppercase;
  font-size: 18px;
  margin: auto 10px;
}

.menu{
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  position: absolute;
  width: 65%;
}

.overlay{
  position: absolute;
  background-color: rgba(255,255,255,0.3);
  height: 100%;
  width: 100%;
}

main{
  width: 80%;
  margin: auto;
  margin-top: 10px;
  margin-bottom: 10px;
}

main:after{
  content:"";
  display: table;
  clear: both;
}

.notizie_left{
  width: 20%;
  background-color: white;
  float: left;
}

.notizie{
  height: 300px;
  overflow: auto;
}

.notizie span{
  text-transform: capitalize;
  display: inline-block;
  margin: 20px;
  font-size: 30px;
  font-weight: bold;
}

.notizie p{
  text-transform: capitalize;
  margin: 20px;
  font-size: 22px;
}
.principale_centro{
  height: 400px;
  width: 60%;
  float: left;
  padding-left: 10px;
}

.principale{
  height: 400px;
  background-color: white;
  overflow: auto;
}

.principale span{
  display: inline-block;
  margin: 20px;
  text-transform: uppercase;
  font-size: 30px;
  font-weight: bold;
}

.principale p{
  margin: 20px;
  font-size: 22px;
}

.widget_right{
  width: 20%;
  height: 300px;
  float: left;
  padding-left: 10px;
}

.widget{
  height: 100px;
  margin-bottom: 10px;
  background-color: white;
  border: 1px solid white;
}

.widget img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

footer{
  width: 80%;
  height: 100px;
  margin: auto;
  background-color: white;
  position: relative;
}

.web{
  left: 50%;
  top: 50%;
  transform: translate(-50% , -50%);
  position: absolute;
}

.fb, .insta, .twitter {
  display: inline-block;
  font-size: 50px;
}

i{
  display: inline-block;
}
